/* UTILITY */
*{
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1200px;
}

.container-sm{
    max-width: 760px;
}

.container-sms{
    max-width: 1005px;
}
.row{
    width: 100%;
    display: flex;
}

.margin-container{
    margin: 5px auto;
}

/* BG */


.bg-grey{
    background-color: #e8edea;
}


/* HEADER */


.space{
    display: flex;
    justify-content: space-between;
    color: white;
}

.bluebutton{
    border-radius: 15px;
    background-color: rgba(36, 108, 216, 0.733);
    border: none;
    padding: 8px;
    
    
}
.whitebutton{
    border-radius: 15px;
    background-color: white;
    border: none;
    padding: 8px;
    color: rgb(0, 0, 0);
    
    
}

ul{
    list-style-type: none;
    
}

li{
    color: white;
    
    font-size: large;
    
    
    display: flex;
    word-spacing: 3px;
}
.h2-down{
    display: flex;
    justify-content: center;
    margin-top: 0;
}
.blackbutton{
    border-radius: 15px;
    background-color: rgb(27, 26, 26);
    border: none;
    padding: 8px;
    color: white;
    margin-left: 30px;
}


header{
    background-color: rgb(22, 99, 216) ;
    height: 75px;
    padding: 10px 0;
}

.col-15{
    width: 15%;
    
    align-items: center;
    display: flex;
}

.col-70{
    width: 70%;
    display: flex;
    align-items: center;
}

.col-100{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.col-100s{
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}
/* MAIN */

.center{
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}

.wave{
    width: 100%;
    display: flex;
    filter: invert(94%) sepia(8%) saturate(898%) hue-rotate(135deg) brightness(123%) contrast(86%);
    
}

.imgflag{
    width: 19px;
    height: 15px;
    display: inline-block;
}
.invert{
    transform: rotate(180deg);
    
}
.p-white{
    color: white;
    font-size: large;
    display: flex;
    word-spacing: 3px;
}

p.black{
    color: rgb(0, 0, 0);
    font-size: large;
    margin-top: 50px;
    text-align: center;
    display: flex;
    word-spacing: 3px;

}


.h1black{
    color: rgb(0, 0, 0);
    font-size: 55px;
    text-align: left;
    padding-top: 15px;
    
}
.h1white{
    color: white;
    font-size: 55px;
    text-align: center;
    
}

.back-img{
    background-image: url(img/jumbo.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
}

.padding-section{
    padding: 30px 0;
}


.col-30{
    width: 30%;
    flex-direction: column;
    display: flex;
}

/* Footer */


footer{
    background-color: rgb(34, 32, 32);
    padding-top: 10px;

}
.col-17{
    width: 17%;
    justify-content: center;
    
    display: flex
}
 
.color-blue{
    color:  rgb(22, 99, 216);
}
.col-32{
    width: 32%;
    flex-direction: column;
    
    display: flex;
}

.logos{
    size: 5px;
    filter: invert(100%) sepia(4%) saturate(15%) hue-rotate(93deg) brightness(107%) contrast(104%);
}
hr{
    height: 1px;
    background-color: rgb(107, 115, 228);
    margin-bottom: 15px;
    max-width: 1250px;
}

.col-Logo{
    width: 10%;
    display: flex;
}

.col-button{
    width: 10%;
    display: flex;
}

.content{
    display: flex;
    justify-content: space-between;
    text-align: center;
}



.arrow{
    list-style-type: #3hG4P ;
    
}


.padding-left{
    margin-left: 950px;
}